@import "../../utilities/variables";

.PortfolioMenuBar {
  height: $portfolio-menu-height;
  position: sticky;
  top: $menu-height;
  left: 0;
  right: 0;
  z-index: 4;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  .buttonLabel {
    margin-left: 4px;
  }

  .menuleft {
    padding: 0 16px;
    .menuItem {
      margin-right: 12px;
    }
  }

  .menuRight {
    padding: 0 16px;
    .menuItem {
      margin-right: 12px;
    }

    .optionsDropdown {
      color: gray;
      i {
        margin: 0;
      }
      .optionsMenu {
        min-width: 180px;
        margin-top: 4px;
        user-select: none;
        .optionIcon {
          color: gray;
          margin-right: 10px;
          width: 18px;
        }
      }
    }
  }
}
