@import "./utilities/variables";

body {
  margin: 0;
  box-sizing: border-box;
  background-color: lightgray;
}

.App {
  padding-top: $menu-height;

  .loadingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    .loadingText {
      font-size: 30px;
    }
  }
}
