@import "./utilities/variables";

@font-face {
  font-family: "Gochi Hand";
  src: url("./utilities//GochiHand.ttf") format("truetype");
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: $background-color;
  color: $default-text-color;
}

.App {
  padding-top: $menu-height;

  // Global changes
  .dropdown {
    .menu {
      .item {
        border-radius: 4px;
      }
    }
  }
}
