@import "../../utilities/variables";

.Dashboard {
  .dashboardColumns {
    display: flex;
    overflow-x: auto;
    height: calc(100vh - #{$menu-height} - #{$portfolio-menu-height});
    padding: 6px 10px;
  }
}
