.EntriesTableCompanyCell {
  display: flex;
  align-items: center;
  .logo {
    width: 1.8em;
    height: 1.8em;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid lightgray;
    background-color: white;
    display: none;
  }
  .logo-loaded {
    display: inline-block;
  }
}
