@import "../../utilities/variables";

.PrimaryButton {
  background-color: $primary-color !important;
  color: white !important;
  transition: 0.2s;
  &:hover {
    background-color: $primary-dark !important;
  }
}
