.DashboardSortDropdown {
  .dropdownMenu {
    margin-top: 2px !important;

    .itemContent {
      display: flex;
      justify-content: space-between;

      .menuIcon {
        margin-left: 10px;
        color: gray;
      }
      .menuIcon-hidden {
        visibility: hidden;
      }
    }
  }
}
