@import "../../utilities/variables";

.AppMenuBar {
  height: $menu-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  background-color: $primary-color;
  z-index: 10;

  .menuLeft {
    display: flex;
    align-items: center;
    .appLogoAndName {
      font-family: "Gochi Hand";
      user-select: none;
      .appLogo {
        display: none;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        border: 2px solid whitesmoke;
        font-size: 28px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
      .appName {
        font-weight: bold;
        font-size: 30px;
        color: whitesmoke;
        padding-left: 2px;
      }
      @media (max-width: 767px) {
        .appLogo {
          display: flex;
        }
        .appName {
          display: none;
        }
      }
    }

    .portfolioSelector {
      margin-left: 24px;

      @media (max-width: 767px) {
        margin-left: 12px;
      }

      .dropdownButton {
        background-color: $primary-color;
        color: whitesmoke;
        border: 1px solid $primary-light;
        &:hover {
          background-color: $primary-dark;
        }
      }

      .dropdownMenu {
        margin-top: 4px;
        min-width: 180px;

        .dropdownRow {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .portfolioName {
            margin-right: 20px;
          }
          .numEntries {
            color: gray;
          }
        }
      }
    }

    .portfoliosLink {
      margin-left: 24px;
      .portfoliosButton {
        background-color: $primary-color;
        color: whitesmoke;
        border: 1px solid $primary-light;
        &:hover {
          background-color: $primary-dark;
        }
      }
    }
  }

  .menuRight {
    .userDropdown {
      .dropdownButton {
        background-color: $primary-color;
        color: whitesmoke;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid $primary-light;
        }
      }

      .dropdownButton-open {
        border: 1px solid $primary-light;
      }

      .dropdownMenu {
        margin-top: 4px;
        min-width: 220px;

        .dropdownHeading {
          text-align: center;

          .userPhotoRow {
            padding-top: 4px;
            color: gray;

            .photo {
              width: 55px;
              height: 55px;
              border-radius: 50%;
            }
          }

          .displayName {
            padding: 12px 0 6px;
            font-weight: bold;
            font-size: 18px;
          }

          .email {
            padding-top: 4px;
            color: gray;
            font-size: 14px;
          }
        }

        .optionIcon {
          color: gray;
          margin-right: 10px;
        }
      }
    }
  }
}
