@import "../../utilities/variables";

.AppMenuBar {
  height: $menu-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  background-color: $primary-color;
  z-index: 10;

  .menuLeft {
    display: flex;
    align-items: center;

    .appLogoAndName {
      display: flex;
      align-items: center;
      .appLogo {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .appName {
        font-weight: bold;
        font-size: 20px;
        color: whitesmoke;
      }
    }

    .portfolioSelector {
      margin-left: 20px;

      .dropdownButton {
        background-color: transparent;
        color: whitesmoke;
      }

      .dropdownMenu {
        margin-top: 2px;
        min-width: 180px;

        .dropdownRow {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .portfolioName {
            margin-right: 20px;
          }
          .numEntries {
            color: gray;
          }
        }
      }
    }
  }

  .menuRight {
    .userDropdown {
      .dropdownButton {
        background-color: transparent;
        color: whitesmoke;
        border: 2px solid transparent;
      }

      .dropdownButton-open {
        border: 2px solid white;
      }

      .dropdownMenu {
        margin-top: 4px;
        min-width: 200px;

        .dropdownHeading {
          text-align: center;

          .userCircle {
            color: gray;
            font-size: 40px;
          }

          .displayName {
            padding: 12px 0 10px;
            font-weight: bold;
            font-size: 18px;
          }

          .email {
            color: gray;
            font-size: 14px;
          }
        }

        .optionIcon {
          color: gray;
          margin-right: 10px;
        }
      }
    }
  }
}
