@import "../../utilities/variables";

.Home {
  font-size: 24px;
  .content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .appName {
      cursor: default;
      user-select: none;
      font-family: "Gochi Hand";
      font-size: 150px;
      color: $primary-color;
      margin-bottom: 120px;
    }

    .loginPrompt {
      margin-bottom: 20px;
    }
  }
}
