@import "../../utilities/variables";

.Home {
  line-height: 1.5;

  .menuDivider {
    position: sticky;
    top: $menu-height;
    left: 0;
    right: 0;
    background-color: $primary-color;
    height: 1px;
  }
  .menuDivider-scrolled {
    background-color: white;
  }

  .landing {
    // height: 50vh;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    padding: 96px 32px 96px 96px;

    .landingLeft {
      width: 40%;
      padding-right: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: whitesmoke;

      .landingHeading {
        font-size: 36px;
      }

      .landingText {
        padding-top: 10px;
        font-size: 16px;
      }

      .landingButtonRow {
        padding-top: 28px;
        .oauthLink {
          .oauthButton {
            color: $primary-color;
          }
        }

        .portfoliosLink {
          .portfoliosButton {
            color: $primary-color;
          }
        }
      }
    }

    .landingRight {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      .landingLaptop {
        max-height: 45vh;
        max-width: 100%;
      }
    }

    @media (max-width: 991px) {
      padding: 96px 32px 96px 48px;
    }

    @media (max-width: 767px) {
      display: block;
      padding: 0px;

      .landingLeft {
        width: 100%;
        padding: 48px;
      }
      .landingRight {
        width: 100%;
        padding: 0 32px 64px 32px;
      }
    }

    @media (max-width: 575px) {
      .landingLeft {
        width: 100%;
        padding: 32px;
        .landingButtonRow {
          text-align: center;
        }
      }
      .landingRight {
        width: 100%;
        padding: 0 4px 48px 4px;
      }
    }
  }

  .landingDivider {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 2.5vw solid $primary-color; // height and color of triangle
    background-color: whitesmoke; // next section's color

    // @media (max-width: 767px) {
    // }

    // @media (max-width: 575px) {
    // }
  }

  .displaySection {
    background-color: whitesmoke;
    padding: 64px 32px 80px 32px;
    text-align: center;

    .heading {
      font-size: 32px;
      font-weight: bold;
    }

    .subHeading {
      padding-top: 10px;
      font-size: 18px;
      color: gray;
    }

    .displayRows {
      .displayRow {
        display: flex;
        .displayImgContainer {
          width: 50%;
          img {
            width: 85%;
            height: auto;
            border: 3px solid $primary-color;
            border-radius: 12px;
          }
        }
        .displayDescContainer {
          width: 50%;
          .displayDesc {
            display: inline-block;
            text-align: left;
            width: 80%;
            .descHeading {
              font-size: 36px;
              color: $primary-color;
            }
            .descText {
              font-size: 20px;
              ul {
                margin: 0;
                padding-inline-start: 30px;
              }
            }
          }
        }
      }

      .dashboardRow {
        margin-top: 64px;
        .dashboardImgContainer {
          padding-right: 24px;
          text-align: right;
        }
        .dashboardDescContainer {
          padding-left: 24px;
          text-align: left;
        }
      }

      .tableRow {
        margin-top: 72px;
        flex-direction: row-reverse;
        .tableImgContainer {
          padding-left: 24px;
          text-align: left;
        }
        .tableDescContainer {
          padding-right: 0px;
          text-align: right;
        }
      }
    }

    @media (max-width: 991px) {
      .displayRows {
        .displayRow {
          .displayImgContainer {
            img {
              width: 95%;
            }
          }
          .displayDescContainer {
            .displayDesc {
              width: 95%;
              .descHeading {
                font-size: 28px;
              }
              .descText {
                font-size: 18px;
              }
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      padding: 48px 32px;
      .displayRows {
        .displayRow {
          margin-top: 32px;
          display: block;
          .displayImgContainer {
            width: 100%;
            padding: 0 32px;
            img {
              width: 100%;
            }
          }
          .displayDescContainer {
            width: 100%;
            padding: 0 32px;
            .displayDesc {
              width: 100%;
              padding: 0 0 0 4px;
              .descHeading {
                font-size: 22px;
              }
              .descText {
                font-size: 18px;
              }
            }
          }
        }
      }
    }

    @media (max-width: 575px) {
      .displayRows {
        .displayRow {
          margin-top: 32px;
          .displayImgContainer {
            padding: 0;
          }
          .displayDescContainer {
            padding: 0;
            .displayDesc {
              .descHeading {
                font-size: 20px;
              }
              .descText {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  .displaySectionDivider {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 2.5vw solid whitesmoke; // height and color of triangle
    background-color: $background-color; // next section's color
  }

  .personalizeSection {
    background-color: $background-color;
    padding: 64px 32px 32px 32px;
    text-align: center;

    .heading {
      font-size: 32px;
      font-weight: bold;
    }

    .subHeading {
      padding-top: 10px;
      font-size: 18px;
      color: gray;
    }

    .personalizeExamples {
      padding-top: 32px;

      display: flex;
      justify-content: space-around;

      .personalizeExampleContainer {
        width: 33.3%;
        .personalizeExample {
          padding: 0 40px;

          img {
            width: 100%;
            height: auto;
            border: 3px solid $primary-color;
            border-radius: 12px;
          }

          .personalizeDesc {
            text-align: left;
            .descHeading {
              font-size: 24px;
              color: $primary-color;
            }
            .descText {
              font-size: 18px;
            }
          }
        }
      }
    }

    @media (max-width: 991px) {
      .personalizeExamples {
        .personalizeExampleContainer {
          .personalizeExample {
            padding: 0 16px;
            .personalizeDesc {
              .descHeading {
                font-size: 20px;
              }
              .descText {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      padding: 48px 32px 32px 32px;

      .personalizeExamples {
        display: block;
        text-align: center;

        .personalizeExampleContainer {
          display: inline-block;
          width: 80%;
          &:not(:last-child) {
            margin-bottom: 32px;
          }
          .personalizeExample {
            padding: 0;
            .personalizeDesc {
              padding: 0 0 0 4px;
            }
          }
        }
      }
    }

    @media (max-width: 575px) {
      .personalizeExamples {
        .personalizeExampleContainer {
          width: 100%;
          .personalizeExample {
            .personalizeDesc {
              text-align: center;
              padding: 0;
            }
          }
        }
      }
    }
  }

  .bottomButtonRow {
    background-color: $background-color;
    padding-bottom: 40px;
    text-align: center;

    .oauthLink {
      .oauthButton {
      }
    }
    .portfoliosLink {
      .portfoliosButton {
      }
    }

    @media (max-width: 991px) {
      padding-bottom: 32px;
    }
  }

  .footer {
    background-color: lightgray;
    text-align: center;
    padding: 16px 0;
    font-size: 16px;
    font-weight: bold;
  }
}
