@import "../../utilities/variables";

.ui {
  .EntryModal {
    // Fix semantic modal unbalanced padding
    .header {
      @media (max-width: 991px) {
        padding-right: 1.5rem !important;
      }
      @media (max-width: 767px) {
        padding-right: 1rem !important;
      }
    }
  }
}

.EntryModal {
  max-height: 90vh;
  overflow: auto;

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerRight {
      display: flex;
      align-items: center;

      .colorDropdown {
        height: 24px;
        width: 24px;
        margin-right: 14px;

        .colorDropdownButton {
          display: inline-block;
          border: 1px solid gray;
          border-radius: 5px;
          height: 100%;
          width: 100%;
        }

        .dropdownMenu {
          background-color: white;
          border: 1px solid lightgray;
          padding: 10px 14px 6px 14px;
          margin-top: 2px;

          .colorsGrid {
            width: 230px;
            display: flex;
            flex-wrap: wrap;

            .optionContainer {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20%;
              height: 40px;

              .colorOption {
                position: relative;
                display: inline-block;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                cursor: pointer;
                border: 2px solid white;

                .colorCheckMark {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  font-size: 12px;
                  color: white;
                }

                &:hover {
                  transition: transform 0.2s;
                  transform: scale(1.2);
                }
              }
              .colorOption-selected {
              }
            }
          }
        }
      }

      .starToggle {
        display: inline-block;
        font-size: 24px;
        color: gray;
        .starIcon {
          padding: 2px;
        }
      }
    }
  }

  .companyLabel {
    .clearbitLink {
      margin-left: 4px;
      font-size: 12px;
      color: darkgray;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    .saveButton {
      margin-left: 10px;
    }
  }
}
