.StarButton {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  display: inline-block;
  cursor: pointer;
  color: gold;
  //   padding: 2px 2px;
}

.StarButton-outline {
  color: inherit;
}
