@import "../../utilities/variables";

.EntriesTable {
  .tableMenuBar {
    height: $portfolio-menu-height;
    position: sticky;
    top: $menu-height;
    left: 0;
    right: 0;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    .menuleft {
      padding: 0 8px;
      .displayButtons {
        margin-right: 12px;
      }
      .densityButtons {
      }

      .buttonLabel {
        margin-left: 4px;
      }
    }

    .menuRight {
      padding: 0 8px;

      .newEntryButton {
      }
    }
  }

  .dataTableContainer {
    height: calc(100vh - #{$menu-height} - #{$portfolio-menu-height});
    overflow-y: auto;
    border: 4px solid lightgray;
    border-left-width: 8px;
    border-right-width: 8px;

    .dataTable {
      thead {
        tr {
          th {
            position: sticky;
            top: 0;
          }
        }
      }

      .colorCell {
        text-align: center;
        .color {
          display: inline-block;
          width: 1.2em;
          height: 1.2em;
          border-radius: 50%;
        }
      }

      .companyCell {
        display: flex;
        align-items: center;
        .logo {
          width: 1.8em;
          height: 1.8em;
          margin-right: 8px;
          border-radius: 50%;
        }
      }
    }
  }
}
