@import "../../utilities/variables";

.EntriesTable {
  .tableMenuBar {
    height: $portfolio-menu-height;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: $menu-height;
    left: 0;
    right: 0;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    .menuleft {
      padding: 0 8px;
      .displayButtons {
        margin-right: 12px;
      }
      .densityButtons {
      }

      .buttonLabel {
        margin-left: 4px;
      }
    }

    .menuRight {
      padding: 0 8px;

      .newEntryButton {
      }
    }
  }

  .dataTableContainer {
    position: relative;
    height: calc(100vh - #{$menu-height} - #{$portfolio-menu-height} - 1px);
    padding: 0 14px;

    .dataTable {
      background-color: pink;
      height: 100%;
      overflow-y: auto;

      .colorCell {
        text-align: center;
        .color {
          width: 1.5em;
          height: 1.5em;
          border-radius: 50%;
        }
      }

      .companyCell {
        display: flex;
        align-items: center;
        .logo {
          width: 2em;
          height: 2em;
          margin-right: 6px;
          border-radius: 50%;
        }
      }
    }
  }
}
