.DashboardIconCard {
  position: relative;
  display: inline-block;
  border: 3px solid lightgray;
  border-radius: 50%;

  height: 55px;
  width: 55px;

  font-size: 28px;

  cursor: pointer;

  :active {
    cursor: grabbing;
  }
}

.DashboardIconCard-colored {
  // border color assigned in js
  border-width: 4px;
  border-style: solid;
  .companyText {
    font-weight: bold;
    // color: whitesmoke;
  }
}
