@import "../../../utilities/variables";

.DashboardFilterDropdown {
  user-select: none;

  .dropdownMenu {
    margin-top: 3px !important;

    .dropdownMenuContent {
      display: flex;

      .dropdownSectionHeader {
        margin: 10px 0 8px;
        padding: 0 14px;
        font-size: 11px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
      }

      .dropdownDivider {
        border-top: 3px solid whitesmoke;
        height: 0;
        margin: 7px 0;
      }

      .leftMenuColumn {
        border-right: 3px solid whitesmoke;
        min-width: 190px;

        .densityRow {
          padding: 8px 16px;
          cursor: pointer;
          border-radius: 6px;
          &:hover {
            background-color: whitesmoke;
          }

          .densityIcon {
            margin-right: 10px;
            color: gray;
          }
        }
        .densityRow-active {
          font-weight: bold;
          color: $primary-color;
          .densityIcon {
            color: $primary-color;
          }
        }

        .sortRow {
          padding: 8px 16px;
          cursor: pointer;
          border-radius: 6px;
          &:hover {
            background-color: whitesmoke;
          }

          .sortRowContent {
            display: flex;
            justify-content: space-between;

            .sortDirectionIcon {
              margin-left: 10px;
              color: gray;
            }
            .sortDirectionIcon-hidden {
              visibility: hidden;
            }
          }
        }
        .sortRow-active {
          font-weight: bold;
          color: $primary-color;
          .sortRowContent {
            .sortDirectionIcon {
              color: $primary-color;
            }
          }
        }
      }

      .rightMenuColumn {
        min-width: 190px;

        .statusRow {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // Adopts styling from Dropdown.Item
          padding: 0px 8px 0px 0;
          border-radius: 6px;
          &:hover {
            background-color: whitesmoke;
          }

          .rowLeft {
            flex: 1;
            display: flex;
            align-items: center;

            .gripIcon {
              padding: 10px 12px 10px 16px;
              margin-right: 2px;
              color: lightgray;
              cursor: grab;
              :active {
                cursor: grabbing;
              }
            }

            .checkbox {
              padding: 10px 12px 10px 0;
              cursor: pointer;
              flex: 1;

              // Makes the toggle button shorter
              input {
                width: 2.5rem;
              }
              label {
                padding-left: 3.5rem;
                &::before {
                  width: 2.5rem;
                }
                &::after {
                  left: -0.05rem;
                }
              }
              input:checked ~ label {
                &::before {
                  background-color: $primary-color !important;
                }
                &::after {
                  left: 1.15rem;
                }
              }
            }
          }

          .sizeButton {
            color: lightgray;
            height: 28px;
            width: 28px;
          }
          .sizeButton-active {
            background-color: $primary-color !important;
            color: whitesmoke !important;
          }
          .sizeButton-hidden {
            visibility: hidden;
          }
        }
      }
    }
  }
}
