.CompanySelector {
  .searchBar {
    .selectedCompanyLogo {
      opacity: 1 !important; // Semantic lowers opacity when input is not focused
      padding: 5px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  .dropdownEntry {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .entryLeft {
      display: flex;
      align-items: center;
      .companyLogo {
        max-height: 20px;
        max-width: 20px;
      }
      .companyName {
        padding: 0 6px;
      }
    }

    .companyDomain {
      color: darkgray;
      font-size: 12px;
    }
  }
}
