.EditEntryModal {
    .header {
        display: flex;
        justify-content: space-between;

        .starButton {
            font-size: 22px;
            cursor: pointer;
            color: gold;
        }

        .starOutlineButton {
            font-size: 22px;
            cursor: pointer;
            color: gray;
        }
    }
}