@import "../../utilities/variables";

.ProfileModal {
  // Force the close icon to always be inside the modal
  .close.icon {
    top: 1.0535rem !important;
    right: 1rem !important;
    color: gray !important;
    @media (max-width: 767px) {
      top: 0.5rem !important;
      right: 0.5rem !important;
    }
  }

  .header {
    .headerContent {
      display: flex;
      align-items: center;

      .userPhoto {
        color: gray;
        width: 30px;
        height: 30px;
        .photo {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .displayName {
        margin-left: 8px;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }

  .content {
    .details {
      text-align: left;
      font-size: 16px;
      table {
        width: 100%;
        tbody {
          tr {
            td {
              padding: 4px 0;
              vertical-align: top;
              &:first-child {
                font-weight: bold;
                padding-right: 40px;
              }

              .portfolioRow {
                display: flex;
                align-items: center;
                .portfolioName {
                  flex: 1;
                }
                .portfolioNumEntries {
                  margin-left: 12px;
                  color: gray;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button {
      @media (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }
  }
}
