@import "./utilities/variables";

body {
  margin: 0;
  box-sizing: border-box;
  background-color: lightgray;
}

.App {
  padding-top: $menu-height;
}

// a {
//   color: inherit;
//   &:hover {
//     color: inherit;
//   }
// }
