@import "./utilities/variables";

body {
    margin: 0;
    box-sizing: border-box;
}
  
.App {
  padding-top: $menu-height;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}


.menuBar {
  height: $menu-height;
  .menuBarLogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .menuBarName {
    font-weight: bold;
    font-size: 18px;
  }
}
