.DashboardIconCard {
  display: inline-block;
  border: 3px solid lightgray;
  border-radius: 50%;

  height: 55px;
  width: 55px;

  cursor: pointer;

  :active {
    cursor: grabbing;
  }

  .logo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.DashboardIconCard-colored {
  // border color assigned in js
  border-width: 4px;
  border-style: solid;
}
