@import "../../utilities/variables";

.DashboardColumn {     
    position: relative; 
    display: inline-block;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    min-width: 280px;
    max-width: 350px;
    height: calc(100vh - #{$menu-height} - #{$portfolio-menu-height});
    overflow-y: auto;
    padding: 20px 5px;
    text-align: center;

    .heading {
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .entries {
        padding-bottom: 1em;
    }

    .newEntryButton {
        display: none; // Only display icons when column is hovered
        z-index: 2;
        position: absolute;
        bottom: 40px;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        border: none;
        height: 50px;
        width: 50px;
        font-size: 26px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid gray;
        color: gray;
    }

    &:hover {
        .newEntryButton {
            display: inline-block;
        }
    }
}
