@import "../../utilities/variables";

.DashboardColumn {    
    position: relative;  
    display: inline-block;
    border: 1px solid lightgray;
    border-bottom: none;
    min-width: 280px;
    max-width: 350px;
    height: calc(100vh - #{$menu-height} - #{$portfolio-menu-height});
    overflow-y: auto;
    text-align: center;

    .heading {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 14px 10px 12px 10px;
        font-size: 16px;
        background-color: whitesmoke;
        z-index: 2;
        
        .status {
            font-weight: bold;
            padding-right: 6px;
        }
    
        .numEntries {
            color: gray;
        }    

        .options {
            cursor: pointer;
            color: gray;
        }
    }

    .entries {
        padding: 0 10px;
    }

    .newEntryButton {
        visibility: hidden;
        margin: 10px 0 20px 0;
    }

    &:hover {
        .newEntryButton {
            visibility: visible;
        }
    }
}
